.recommendation {
    border-bottom: solid 2px #f5f4f4;

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        text-align: left;
        color: #000000;
        border-left: solid 3px #47c8c0;
        display: flex;
        justify-content: space-between;
        margin: 20px;
        padding-left: 12px;
    }

    &__rate {
        // width: 14.063rem;
        margin: 20px 20px 25px 37px;

        &__plus {
            font-size: 1rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            padding-left: 0.456rem;
        }
    }

    .rate {
        font-size: 1.063rem;
    }
}

@media only screen and (max-width: 992px) {
    .recommendation {
        &__title {
            // font-size: 1rem;
        }

        &__rate {
            &__plus {
                // display: none;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .recommendation {
        &__title {
            // font-size: 0.781rem;
            margin-left: 0.656rem;
        }

        &__rate {
            width: 14.063rem;
            margin: 1.625rem 2.25rem 2.938rem 0.688rem;
        }
    }
}
