.gestion_club_title {
    margin-top: 23px;
   
    font-size: 20px;
    font-weight: 600;
    font-style: normal;        
    color: #2e3034;
}
.gestion_club_text {
    margin-top: 14.4px;
   
    font-size: 15px;
   
    // @review dont write unnecessary css
    //c'est lespace ente les ligne 
    line-height: 1.47;
   
    color: #2e3034;
}