.gestion_club_title {
    margin-top: 1.4375rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #2e3034;
}
.gestion_club_text {
    margin-top: 0.875rem;
    width: 17.625rem;
    font-size: 0.9375rem;
    color: #2e3034;
}

.system_img {
    width: 5rem;
    height: 5rem;
}
