.coach_type{
    &__title{
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        border-left: solid 3px #47c8c0;
        display: flex;
         justify-content: space-between;
         margin-left: 23.5px;
         padding-left:12.5px;
         margin-top:21.5px;
      }
      
      &__rate{
        width: 225px;
        margin: 26px 36px 47px 36px;
        &__plus{
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            padding-left:7.3px;
            padding-top:23px;
            &__privatesessionfilter{
               
                &__filterby{
                    cursor: pointer;

                    width: 65px;
                    height: 19px;
                    margin: 18px 18px 12px 50px;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 1.19;
                    letter-spacing: normal;
                    text-align: left;
                    &__marks{
                        margin: 18px 18px 12px 50px;

                    }
                }
               
                &__filterby_personnumber{
                    

                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.19;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    white-space: nowrap;

                    margin: 18px 18px 12px 50px;

                }
            }
        }
     }
    }

.radio{
    padding-bottom: 12px;
}
.privatesessionfilter{display: none;}

@media only screen and (max-width : 992px) {
    .coach_type{
        &__title {
            font-size: 16px;
        }
        &__rate{
            &__plus{
             font-size: 14px;
                &__privatesessionfilter{
                   &__filterby {
                       font-size: 14px;
                       margin: 18px 18px 12px 31px;

                    }
                    &__filterby_personnumber{
                        font-size: 14px;

                        margin: 18px 18px 12px 31px;

                    }
                }
        }
     
      }   
    }
}

@media only screen and (max-width : 760px) {
    .coach_type{
        &__title{
            font-size: 13px;
            margin-left: 10.5px;
        }
        &__rate{
            margin: 26px 36px 47px 10px;
        
            &__plus {
                font-size: 11px;
        
                &__privatesessionfilter{
                     &__filterby {
                         font-size: 11px;
                         margin: 18px 18px 12px 29px;
                    }
                    &__filterby_personnumber {
                        font-size: 11px;
                    }
                }
            }
        }   
    }
}