.affiche {
    img {
        margin: 1.3rem;
        width: 97%;
    }
}

.recruitment {
    margin-left: 21px;
    margin-right: 19px;
    border-radius: 10px;
    border: solid 1px #d5d5d5;
    background-color: #ffffff;
    &__icontitle {
        padding-top: 11px;
    padding-left: 17px;
    padding-bottom: 4px;
        display: flex;

    }

    &__title {
        font-size: 1rem;
        font-weight: bold;

        color: #26beb5;
        align-self: center;

    }

    &__message {
        padding: 19px 30px 107px 14px;
        opacity: 0.76;
        border-radius: 10px;
        background-color: #f2f2f2;
        margin-left: 21px;
        margin-right: 19px;
        margin-top: 10px;
        margin-bottom: 16px;

        &__title {
            font-size: 1rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #646464;
        }

        &__bodyMessage {
            padding-top:8px;
            font-size: 0.875rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            color: #646464;
        }
       
    }
    &__submit{
        border-radius: 0.625rem;
        box-shadow: 0 3px 6px 0 rgba(207, 207, 207, 0.16);
        background-color: #26beb5;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding: 7px 36px 6px 36px;
        margin-bottom: 116px;
        margin-left:16px;
    }
}