.coach {
    &__coachdetails {
        margin-left: 67px;
    }
}

.affiche {
    &__img {
        width: 1380px;
        height: 400px;
        padding: 1.188rem 0.9rem 0rem 4rem;
    }
}