.coach {
    width: 71.375rem;
    margin: auto;

    // &__cordonneBlock {
    //     flex: 20%;
    // }

    .tabsinfo {

        margin-top: 1.438rem;
        height: 42rem;

        &__contact {
            border-radius: 0.625rem;
            box-shadow: 0 3px 6px 0 rgba(207, 207, 207, 0.16);
            background-color: #26beb5;
            margin-bottom: 1.406rem;

            span {
                font-size: 1.25rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                padding: 0.625rem 2.625rem 0.563rem 2.625rem;
            }
        }

        &__title {
            font-size: 1rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: 0.32px;
            text-align: left;
            color: #000000;
            margin-bottom: 1.406rem;
        }
    }

    &__coachdetails {
        display: grid;
        grid-template-columns: 24% 70.5%;
        gap: 40px;

        &__contact {
            border-radius: 0.625rem;
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
            box-shadow: 5px 10px 9px 0 rgba(190, 190, 190, 0.16);
            border: solid 1px #d5d5d5;
            margin-top: 0.563rem;
            // height: 26.469rem;
            background-color: white;
        }

        &__information {
            margin-top: 2.031rem;
            border-radius: 0.625rem;
            box-shadow: 3px 3px 20px 0 rgba(190, 190, 190, 0.16);
            border: solid 1px #d5d5d5;
            background-color: #ffffff;
        }
    }
}

.tabs {
    display: grid;
    grid-template-columns: 79% 21%;
    justify-content: space-between;
    border-bottom: solid 2px #dfdfdf;
    // padding-bottom: 1.125rem;
    align-items: center;

    &__button {
        margin-top: 14px;
        cursor: pointer;

        // margin-top: 0.938rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        // gap: 15rem;
        padding-left: 15px;

        &__aproposaparops {
            padding-left: 15px;
            padding-bottom: 28.5px;
            padding-top: 8px;
            font-size: 1rem;
            font-weight: 500;
            width: 46%;
            padding-left: 11px;
            color: #000000;
        }

        &__aproposaparopsactive {
            border-bottom: solid 4px #ff8760;
            padding-bottom: 28.5px;
            padding-top: 8px;
            font-size: 1rem;
            font-weight: 500;
            width: 46%;
            padding-left: 11px;
            color: #000000;
        }

        &__aproposavis {
            padding-bottom: 28.5px;
            padding-top: 8px;
            font-size: 1rem;
            font-weight: 500;
            width: 43%;
            padding-left: 17px;
            color: #000000;
        }

        &__aproposavisactive {
            border-bottom: solid 4px #ff8760;
            padding-bottom: 28.5px;
            padding-top: 8px;
            font-size: 1rem;
            font-weight: 500;
            width: 43%;
            padding-left: 17px;
            color: #000000;
        }

        &__aproposbiographie {
            padding-bottom: 28.5px;
            padding-top: 8px;
            font-size: 1rem;
            font-weight: 500;
            width: 58%;
            padding-left: 13px;
            color: #000000;
        }

        &__aproposbiographieactive {
            border-bottom: solid 4px #ff8760;
            padding-bottom: 28.5px;
            padding-top: 8px;
            font-size: 1rem;
            font-weight: 500;
            width: 58%;
            padding-left: 13px;
            color: #000000;
        }
    }

    &__contact {
        border-radius: 0.625rem;
        box-shadow: 0 3px 6px 0 rgba(207, 207, 207, 0.16);
        background-color: #26beb5;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding: 0.938rem 2.5rem 0.938rem 2.5rem;
    }
}

.linetabs {
    background-color: #dfdfdf;
    margin-top: 1.406rem;
    width: 52.156rem;
    height: 0;
    border: solid 2px #dfdfdf;
}

.ant-tabs-tab {
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.32px;
    text-align: left;
    color: #000000;
    margin-bottom: 1.406rem;
}


.affiche {
    &__img {
        width: 100%;
        margin-top: 1.188rem;
    }
}

.coachBox {
    display: grid;
    padding-top: 0.906rem;
    gap: 1.5rem;
    margin-left: 1.938rem;
    .agePlayer{
        padding-bottom: 20px;
    }
    &__content {
        display: flex;
        font-size: 1.063rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        color: #4e4d4d;
       

        &__title {
            span {
                font-weight: bold;
            }
        }

        &__experienceNumber {
            padding-left: 0.125rem;
            color: #010101;

        }

    }


    &__playerAge {
        display: flex;
        font-size: 1.063rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        color: #4e4d4d;
        padding-bottom: 20px;
       

        &__title {
            span {
                font-weight: bold;
            }
        }

        &__age {
            padding-left: 0.125rem;
            color: #010101;

        }

    }
}

.line {
    padding-top: 0.219rem;

    width: 83%;

    margin-left: 2.331rem;
    margin-top: 0.594rem;
    border: solid 2px #f5f4f4;
}

.coachdetailsinformation {
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .coach {
        
    .tabsinfo {

        margin-top: 0;
    }
        &__coachdetails {
            display: grid;
            grid-template-columns: 100%;
            margin-left: 16px;
            margin-right: 21px;

            &__contact {
                border: none;
                // margin-left: 16px;s
                margin-top: 0.563rem;
                // height: 26.469rem; 
                border-radius: 0.625rem;
                -webkit-backdrop-filter: blur(30px);
                backdrop-filter: blur(30px);
                box-shadow: none;
                border: none;
                /* width: 16.5rem; */
                margin-top: 0.563rem;
                // height: 13.5rem;
                background-color: transparent;
            }

            &__information {
                margin-top: 2.031rem;
                border-radius: 0.625rem;
                box-shadow: 3px 3px 20px 0 rgba(190, 190, 190, 0.16);
                border: solid 1px #d5d5d5;
                background-color: #ffffff;
            }
        }

        &__coach__cordonneBlock {
            margin-top: 13px;
        }
    }     
    .linetabs {
        margin-top: 3.65rem;
        width: 59.156rem;
    }

    .tabs {
        display: grid;
        justify-content: normal;
        grid-template-columns: 1fr;
        padding-bottom: 0;
        &__contact {
            display: none;
            }
        
        &__button {
            margin-top: 0;
            // border-bottom: solid 2px #dfdfdf;
            &__aproposaparopsactive {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2rem;
                justify-self: left;
            }

            &__aproposavis {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2.6rem;
                justify-self: center;
            }

            &__aproposbiographie {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 1.5rem;
                justify-self: right;
            }

            &__aproposavisactive {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2.6rem;
                justify-self: center;
            }

            &__aproposbiographieactive {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 1.5rem;
                justify-self: right;
            }

            &__aproposaparops {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2rem;
                justify-self: left;
            }


        }
    }

    .coachBox {
        display: grid;
        padding-top: 1.906rem;
        gap: 2.5rem !important;
        margin-left: 4.938rem;
    }
}
