.coach {
    max-width: 1142px;
    margin: auto;

    // &__cordonneBlock {
    //     flex: 20%;
    // }

    .tabsinfo {
        margin-top: 1.438rem;

        &__contact {
            border-radius: 0.625rem;
            box-shadow: 0 3px 6px 0 rgba(207, 207, 207, 0.16);
            background-color: #26beb5;
            margin-bottom: 1.406rem;

            span {
                font-size: 1.25rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                padding: 0.625rem 2.625rem 0.563rem 2.625rem;
            }
        }

        &__title {
            font-size: 1rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.30;
            letter-spacing: 0.32px;
            text-align: left;
            color: #000000;
            margin-bottom: 1.406rem;
        }
    }

    &__coachdetails {
        display: grid;
        grid-template-columns: 22% 75%;
        column-gap: 3%;

        &__contact {
            border-radius: 0.625rem;
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
            box-shadow: 5px 10px 9px 0 rgba(190, 190, 190, 0.16);
            margin-top: 0.563rem;
            // height: 26.469rem;
            background-color: white;
        }

        &__information {
            margin-top: 2.031rem;
            border-radius: 0.625rem;
            box-shadow: 3px 3px 20px 0 rgba(190, 190, 190, 0.16);
            background-color: #ffffff;
        }
    }

    .tabs {
        display: grid;
        grid-template-columns: 79% 21%;
        justify-content: space-between;
        border-bottom: solid 2px #dfdfdf;
        // padding-bottom: 1.125rem;
        align-items: center;

        &__button {
            cursor: pointer;
            display: flex;

            &__not-active {
                padding: 22px 0 !important;
                width: 100px;
                font-size: 1rem;
                font-weight: 500;
                color: #000000;
                border-bottom: solid 4px transparent !important;
            }

            &__active {
                border-bottom: solid 4px #ff8760 !important;
            }
        }

        &__contact {
            font-size: 20px;
            padding: 10px 34px;
        }
    }

    .linetabs {
        background-color: #dfdfdf;
        margin-top: 1.406rem;
        width: 52.156rem;
        height: 0;
        border: solid 2px #dfdfdf;
    }

    .ant-tabs-tab {
        font-size: 1rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: 0.32px;
        text-align: left;
        color: #000000;
        margin-bottom: 1.406rem;
    }

    .affiche {
        &__img {
            width: 100%;
            // margin-top: 1.188rem;
        }
    }


    .line {
        padding-top: 0.219rem;

        width: 83%;

        margin-left: 2.331rem;
        margin-top: 0.594rem;
        border: solid 2px #f5f4f4;
    }
}

.coachdetailsinformation {
    background-color: white;
}

@media only screen and (max-width: 992px) {
    .coach {
        .tabsinfo {
            margin-top: 0;
        }

        &__coachdetails {
            display: grid;
            grid-template-columns: 100%;
            margin-left: 16px;
            margin-right: 16px;

            &__contact {
                border: none;
                // margin-left: 16px;s
                margin-top: 0.563rem;
                // height: 26.469rem;
                border-radius: 0.625rem;
                -webkit-backdrop-filter: blur(30px);
                backdrop-filter: blur(30px);
                box-shadow: none;
                border: none;
                /* width: 16.5rem; */
                margin-top: 0.563rem;
                // height: 13.5rem;
                background-color: transparent;
            }

            &__information {
                margin-top: 2.031rem;
                border-radius: 0.625rem;
                box-shadow: 3px 3px 20px 0 rgba(190, 190, 190, 0.16);
                background-color: #ffffff;
                margin-bottom: 20px;

            }
        }

        &__coach__cordonneBlock {
            margin-top: 13px;
        }
    }

    .linetabs {
        margin-top: 3.65rem;
        width: 59.156rem;
    }

    .tabs {
        display: grid;
        justify-content: normal;
        grid-template-columns: 1fr;
        padding-bottom: 0;

        // &__contact {
        //     display: none;
        // }

        &__button {
            margin-top: 0;

            // border-bottom: solid 2px #dfdfdf;
            &__aproposaparopsactive {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2rem;
                justify-self: left;
            }

            &__aproposavis {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2.6rem;
                justify-self: center;
            }

            &__aproposbiographie {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 1.5rem;
                justify-self: right;
            }

            &__aproposavisactive {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2.6rem;
                justify-self: center;
            }

            &__aproposbiographieactive {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 1.5rem;
                justify-self: right;
            }

            &__aproposaparops {
                padding-bottom: 2.125rem;
                font-size: 1.4rem;
                font-weight: bold;
                padding-left: 2rem;
                justify-self: left;
            }
        }
    }

}