.contact_us_container {
    margin: auto;
    max-width: 1380px;
    display: grid;
    grid-template-columns: repeat(2, 47%);
    column-gap: 5rem;
    margin-top: 4.5625rem;
    padding-bottom: 3.875rem;
    padding-right: 2rem;
    padding-left: 2rem;

    .input_error {
        border: 1px solid red !important;
    }

    .left_side {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        row-gap: 1.875rem;

        .top_description {
            .h1 {
                margin-top: 0;
                margin-bottom: 0.625rem;
                font-size: 2.25rem;
                color: #393c40;
                font-weight: bold;

            }

            .p {
                margin: 0;
                font-size: 1.25rem;
                color: #393c40;

            }
        }

        .form_container {
            display: grid;
            grid-template-rows: repeat(6, max-content);
            grid-template-columns: repeat(2, auto);
            row-gap: 1.5625rem;
            column-gap: 1.875rem;

            input , textarea, select {
                border: solid 1px #dedede;
                background: transparent;
                padding: 0.9375rem;
            }

            .form_item {
                display: grid;
                row-gap: 0.9375rem;
            }

            .complete_form_item {
                display: grid;
                grid-column: 1/3;
                row-gap: 0.9375rem;
            }

            .submit {
                padding: 1.5rem;
                border-radius: 3px;
                background-color: #019da9;
                color: #ffffff;
                border: none;
                font-size: 1.125rem;
                cursor: pointer;
            }
        }
    }

    .right_side {
        padding-top: 3.75rem;
        display: grid;
        grid-template-rows: repeat(3, max-content);
        row-gap: 1.5625rem;

        .empty_block {
            width: 50px;
            height: 10px;
            background-color: #019da9;
        }

        .contact_description {
            font-size: 1.25rem;
            font-weight: 600;
            color: #393c40;
            margin: 0 0 0.4375rem 0;
        }

        .contact_buttons_container {
            display: grid;
            grid-template-columns: repeat(2, 48%);
            column-gap: 4%;

            .email {
                border-radius: 3px;
                border: solid 1px #019da9;
                background-color: transparent;
                padding: 1.5rem 0 1.5rem 0;
                font-size: 1.125rem;
                color: #019da9;
                font-weight: 600;

            }

            .phone {
                padding: 1.5rem 0 1.5rem 0;
                border-radius: 3px;
                background-color: #ffe0c8;
                color: #393c40;
                font-size: 1.125rem;
                border: none;
                font-weight: 600;

            }
        }
    }
}


@media only screen and (max-width : 992px) {
    .contact_us_container {
        column-gap: unset;
        grid-template-columns: unset;
        margin-top: 2.1875rem;

        

        .left_side {
            .top_description {
                .h1 {
                    font-size: 1.5rem;
                    text-align: center;
                }
        
                .p {
                    font-size: 1rem;
                    text-align: center;
                }
            }
            .form_container {
                display: unset;
                .form_item, .complete_form_item, .complete_form_item2, .submit {
                    margin-top: 1.5625rem;
                }
                .submit {
                    width: 100%;
                }
                
            }
        }
        .right_side {
            .contact_description {
                font-size: 1rem;
            }
            .contact_buttons_container {
                grid-template-columns: unset;
                row-gap: 0.625rem;
            }
        }
    }
}