.home_page {
    .performance_img {
        height: 37.8rem;
    }
    .navbar {
        background-color: white !important;
    }
    .club_logo_and_title {
        background-image: linear-gradient(to bottom, #f8f8f9, white 97%);
    }
    button {
        border: unset;
        font-weight: 500 !important;
        padding: 1.25rem 1.5625rem !important;
    }

    .gerer_team {
        padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
        font-size: 1rem;
        font-weight: 500;

        line-height: 1.38;
        text-align: center;
        color: #ffffff;
    }
    .gerer_equipe_img {
        .gerer_equipe_title {
            font-size: 2.75rem;
            font-weight: bold;
            line-height: 1.18;
            text-align: left;
            color: #2e3034;
            max-width: 35rem;
        }
        .gerer_time_title {
            max-width: 30rem;
            margin-top: 0.8125rem;
            font-size: 1.125rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.39;
            letter-spacing: normal;
            text-align: left;
            color: #2e3034;
        }

        .for_windows {
            margin-left: 2.1875rem;
            margin-top: 0.625rem;
            font-size: 0.75rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.83;
            letter-spacing: normal;
            color: #a7a7a7;
        }
    }
    .gerer_iluustateur {
        padding-left: 2.375rem;
        padding-right: 2.375rem;
        padding-top: 3.3125rem;
        padding-bottom: 3.75rem;
        background-color: #ffffff;
        .gerer_iluustateur_container {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 1.125rem;
            align-items: center;
            img {
                // height: 27.6rem;
                width: 100%;
            }
        }
    }

    .presenter_block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        column-gap: 5.25rem;
        padding-right: 0.3125rem;
    }
    .presenter_winner {
        margin-top: 4.375rem;
    }
    .revenus_gagnant {
        margin-top: 8rem;
    }

    .gestion_club {
        padding-left: 2.625rem;
        margin-top: 4.875rem;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        overflow: hidden;
        column-gap: 4.8125rem;
        .system_performance {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2.5rem;
            row-gap: 2.9375rem;
            .system_mobile {
                margin-top: 4.0625rem;
            }
            .system_gestion {
                margin-top: 3rem;
            }
        }
    }
    .gerer_team {
        // height: 60px;
        border-radius: 8px;
        background-color: #26beb5;
        margin-top: 1.875rem;
        font-size: 0.875rem;
        padding: 20px 19px;
    }
    .join {
        margin-top: 90px;
    }
    .collapseStyle {
        padding-top: 1.375rem;
        margin-top: 2.3125rem;
        width: 90%;
        background: white;
        border-radius: 8px;
    }
    .customPanelStyletext {
        font-size: 1.125rem;
        font-weight: 600;
        // margin-left: 35px;
        margin-top: 3.0625rem;
        padding-bottom: 1.25rem;
        padding-top: 1.375rem;
        padding-left: 2.1875rem;
        color: #2e3034;
        .customPaneltwo {
            padding-top: 2.0625rem;
            padding-right: 6.5rem;
            font-size: 1rem;
            font-weight: normal;
            text-align: left;
            color: #2e3034;
        }
    }
    .copyright {
        margin-top: 2.5rem;
        font-size: 1rem;
        text-align: center;
        color: #a7a7a7;
        padding-bottom: 2.5rem;
    }
}
.expandicon {
    right: 35px !important;
}

@media only screen and (max-width: 760px) {
    .gerer_iluustateur {
        padding-left: 2.375rem;
        padding-right: 2.375rem;
        padding-top: 3.3125rem;
        padding-bottom: 3.75rem;
        background-color: #ffffff;
        .gerer_iluustateur_container {
            display: flex !important;
            align-items: center;
            .gerer_equipe_img {
                width: 100%;
                text-align: center;
                .gerer_equipe_title {
                    text-align: center;
                    margin: auto;
                }
                .gerer_time_title {
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            img {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .presenter_block {
        display: grid;
        grid-template-columns: unset !important;
        align-items: center;
        justify-content: center;
        row-gap: 5.25rem;
        padding-right: 0.3125rem;
        div {
            text-align: center;
        }
        img {
            display: none;
        }
    }
    .revenus_gagnant {
        margin-top: 5rem !important;
    }
    .expandicon {
        right: 15px !important;
    }
}

@media only screen and (max-width: 450px) {
    .gestion_club {
        padding-left: 2.625rem;
        padding-right: 2.625rem;
        margin-top: 4.875rem;
        grid-template-columns: unset !important;
        row-gap: 4.8125rem;
        text-align: center;
        .system_performance {
            grid-template-columns: unset !important;
            column-gap: 2.5rem;
            row-gap: 2.9375rem;
            div {
                text-align: center;
                margin-right: auto;
                margin-left: auto;
            }
        }
        img:nth-child(2) {
            display: none !important;
        }
    }
}

// .navbar_container .sign_in {
//     display: none;
// }
