.index-page {
    padding: 10px;

    &__all-sports {
        &__head {
            display: flex;
            align-items: flex-end;
            margin: 10px 0 20px 0;
            @media only screen and (max-width: 992px) {
                justify-content: space-between;
            }
        }
        h1 {
            margin-bottom: 0;
            margin-right: 10px;
            font-size: 24px;
        }
        &__see-all {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 3px;
            a {
                color: black;
            } 
            &:after {
                // position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #000;
                content: "";
            }
        }
    }
    &__sport-cards-container {
        display: grid;
        grid-template-columns: repeat(5, 18%);
        @media only screen and (max-width: 1100px) {
            grid-template-columns: repeat(4, 23.5%);
            @media only screen and (max-width: 850px) {
                grid-template-columns: repeat(3, 32%);
                @media only screen and (max-width: 640px) {
                    grid-template-columns: repeat(2, 49%);
                    a:last-child {
                        grid-column: 1/3;
                    }
                }
            }
        }

        column-gap: 2%;
        row-gap: 30px;

        &__card {
            color: #26beb5;
            padding: 15px 10px;
            border: 1px solid black;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            border-radius: 8px;
            background-color: white;
            cursor: pointer;
        }
    }
}
