.iteamlistblock {
    background-color: white;
}
.postplatforme {
    text-align: center;

    background-color: #fff9e2;
}
button {
    border: unset;
    font-weight: 500 !important;
    padding: 1.25rem 1.5625rem !important;
}
.presenter_winner {
    margin-top: 4.375rem;
}
.presenter_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 5.25rem;
    padding-right: 0.3125rem;
}
.tab {
    margin-top: 50px;
}
.copyright {
    margin-top: 5.0625rem;
    font-size: 1rem;
    line-height: 1.56;
    text-align: center;
    color: #a7a7a7;
    padding-bottom: 2.5rem;
}
.join {
    margin-top: 4.25rem;
}
.footer {
    margin-top: 5.4375rem;
}
.buttondisplay {
    button {
        background-color: #ffffff !important;
        color: #26beb5 !important;
    }
}


@media only screen and (max-width: 650px) {
    .presenter_block {
        display: grid;
        grid-template-columns: unset !important;
        align-items: center;
        justify-content: center;
        row-gap: 5.25rem;
        padding-right: 0.3125rem;
        div {
            text-align: center;
        }
        img {
            display: none;
        }
    }
}