.profil_coach {
    max-width: 1360px;
    margin: auto;
    font-family: Roboto;

    &__coach_details {
        margin: 1.813rem 2.75rem 1.856rem 4.938rem;
        display: flex;

        &__filter {
            width: 17.75rem;
            // height: 88.625rem;
            padding-right: 1.375rem;
            border-radius: 0.625rem;
            border: solid 1px #d5d5d5;
            background-color: #ffffff;
            overflow: auto;

            &__input_searsh {
                padding: 0.438rem 0.375rem 0.406rem 0.438rem;

                width: 16.875rem !important;

                input {
                    background-color: #f2f2f2;
                }
            }

            &__input_searshmobile {
                display: none;
            }
        }

        &__list_of_coach {
            width: 52.125rem;
            height: 99.75rem;
            margin-left: 1.344rem;
            border-radius: 0.625rem;
            border: solid 1px #d5d5d5;
            background-color: #ffffff;

            &__lenght_sortby {
                display: flex;
                justify-content: space-between;
                padding: 1.563rem 0.969rem 0.906rem 1rem;

                &__lenght {
                    font-size: 1rem;

                    letter-spacing: normal;

                    color: #646464;
                }

                &__filter {
                    display: none;
                }

                &__sortby {
                    span {
                        font-size: 1rem;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;

                        color: #000000;
                    }

                }
            }

            &__card {
                padding: 1.344rem 1rem 1.063rem 0.938rem;
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
            }
        }
    }
}

.line {
    border-top: solid 3px #f5f4f4;

}

.affiche {
    width: 71.375rem;
    height: 16.625rem;
    padding: 1.188rem 4.938rem 1.813rem 4.938rem;
}

@media only screen and (max-width : 1024px) {
  
    // .affiche {
    //     padding: 1.188rem 1.5rem 0.25rem 4.5rem ;
    //     &__img {
    //         width: 68.5rem;
    //     }
    // }

    .profil_coach {
        &__coach_details {
            margin: 1.813rem 2.75rem 1.856rem 4.938rem;
            display: flex;
        }
    }

    .profil_coach {
        &__coach_details {
            &__list_of_coach {
                width: 49.7rem;
            }

            &__filter {
                &__input_searsh {
                    // width: 228px !important;
                }
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    .affiche {
        &__img {
            width: 73rem;
        }
    }

    .profil_coach {

        &__coach_details {
            margin: 3.5rem 2.75rem 1.856rem 4.938rem;

            &__filter {
                &__input_searsh {
                    // width: 17.313rem !important;
                }
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .affiche {
        height: 9.938rem;
        padding: 1.188rem 4.938rem 0.25rem 4.938rem ;

        &__img {
            width: 56rem;
        }
    }

    .profil_coach {
        &__coach_details {
            margin: 6rem 2.75rem 1.856rem 4.938rem;
        }
    }
}

@media only screen and (max-width : 760px) {

    // .card_profil_coach{
    //     margin: 0 auto;
    // }
    .affiche {
        height: 9.938rem;
        padding: 1.188rem 4.938rem 0.25rem 4.938rem ;

        &__img {
            width: 54.5rem;
        }
    }

    .profil_coach {
        margin: 3.5rem 2.75rem 1.856rem 3.938rem;

        &__coach_details {
            margin: 5.5rem 2.75rem 1.856rem 4.938rem;

            &__filter {
                &__input_searsh {
                    width: 13.8rem ;
                }
            }
        }
    }

    .profil_coach__coach_details__list_of_coach__card {
        padding: 1.344rem 1rem 1.063rem 0.938rem;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width : 650px) {
    .affiche {
        &__img {
            width: 33rem;
        }
    }

    .profil_coach {
        &__coach_details {
            &__filter {
                display: none;

                &__input_searshmobile {
                    display: block;
                    margin-left: 1.25rem;
                    margin-top: 0.438rem;
                    width: 30.375rem !important;

                    input {
                        padding-left: 8.688rem;
                    }
                }
            }
        }

        &__coach_details__list_of_coach {

            margin-left: 0px;

            &__lenght_sortby {
                &__lenght {
                    display: none;
                }

                &__filter {
                    display: block;
                }

            }
        }

        .buttonfilter {
            margin-left: 0.438rem;

        }
    }
}

@media only screen and (max-width : 425px) {
    .profil_coach {
        margin: 3.5rem 0.5rem 1.856rem 0.5rem;

        &__coach_details {
            margin: 1.5rem 0.5rem 1.856rem 0.5rem;

            &__filter {
                &__input_searshmobile {

                    width: 36rem !important;
                }
            }
        }
    }
}

.affiche {
    padding: 1.188rem 0.5rem 0.25rem 0.5rem ;

    &__img {
        width: 39rem;
    }
}

@media only screen and (max-width : 375px) {

    .profil_coach {
        &__coach_details {
            &__filter {
                &__input_searshmobile {
                    width: 31rem !important;
                }
            }
        }
    }

    .affiche {
        &__img {
            width: 34rem;
        }
    }
}


element.style {
    width: 270px;
}

@media only screen and (max-width: 320px) {
    .profil_coach {
        margin: 0.5rem 0.5rem 1.856rem 0.5rem;
        &__coach_details {
            &__filter {
                &__input_searshmobile {
                    width: 26rem !important;
                }
            }
        }
    }

    .affiche {
        &__img {
            width: 29rem;
        }
    }
}