.profilplayer{
    display: grid;
    flex-direction: column;
    grid-row-gap: 2.375rem;
    padding-top:2.5rem;
    padding-left:20.25rem;
    &__title{
        font-size: 2rem;
        font-weight: bold;
        color: #191616;
    }
    &__informationtitle{
        font-size: 1rem;
        font-weight: bold;
        color: #191616;
    }
    &__infoplayer{
        display: grid;
        flex-direction: column;
        grid-row-gap: 0.5625rem;
        padding: 1.375rem 14.8125rem 1.875rem 2.1875rem;
        width: 45rem;
        height: 19.4375rem;
        border-radius: 0.375rem;
        box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        &__img_name{
        display: flex;
        &__img{
            img{
                width: 6.75rem;
                height: 6.75rem;
            }
        }
        &__name_mail{
            padding-top:0.5625rem;
            display: grid;
            flex-direction: column;
            padding-left:1.31875rem;
            &__name{
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 0.71;
                color: #242424;
            }
            &__mail{
                font-size: 0.875rem;     
                line-height: 1.21;
                color: #a7a7a7;
            }
            &__addsport{
                width: 8.75rem;
                height: 2.1875rem;
                border-radius: 11.25rem;
                border: solid 0.0625rem #d6d6d6;
                div{
                    div{
                        padding:0.5625rem 1.3125rem 0.625rem 1.25rem ;
                    font-size: 0.78125rem;
                    
                    color: #242424;
                    }
                }
            }
        }
        }
        &__clubinfo{
            display: flex;
 
            &__clubnow{
                display: flex;
                &__club{
                    font-size: 0.8125rem;
                    font-weight: 500;
                    
                    color: #191616;
                }
                &__clubname{
                    font-size: 0.8125rem;
                   
                    color: #a7a7a7;
                }
            }
            &__clubprevious{
                display: flex;
                padding-left: 1.9375rem;
                &__club{
                    font-size: 0.8125rem;
                    font-weight: 500;
                    color: #191616;
                }
                &__clubname{
                    font-size: 0.8125rem;
                    color: #a7a7a7;
                }
            }
            }
            &__number{
                display: flex;
                &__numberplayer{
                    font-size: 0.8125rem;  
                    font-weight: 500;
                    color: #191616;
                    
                }
                &__numberchiffre{
                    font-size: 0.8125rem;
                    color: #a7a7a7;
                }
            }
            &__address{
                display: flex;
                &__addressplayer{
                    font-size: 0.8125rem;  
                    font-weight: 500;
                    color: #191616;
                }
                &__addressname{
                    font-size: 0.8125rem;
                    color: #a7a7a7;
                }

            }
        &__img{
            width: 1.8125rem;
            height: 1.8125rem;
            border-radius: 6.25rem;
            backdrop-filter: blur(30px);
            background-color: #4261b4;
        }
    }
    &__experiencetitle{
        font-size: 1rem;
        font-weight: bold;
        color: #191616;
    }
}
.playerexperiance{
    padding-left:3.4375rem;
    &__title{
      display: flex;
        &__clubtitle{
            font-size: 1.5rem;
            font-weight: 500;        
            color: #242424;
        }
        &__date{
            padding-top: 0.75rem;
            padding-left:0.875rem;
            font-size: 0.8125rem;
            color: #242424;
        }
    }
    &__description{
        max-width: 35.9375rem;
        font-size: 0.875rem;
       
        color: #717171;
        padding-top:0.9375rem
    }
}
.timeline{
    width: 45rem; 
//   height: 142px;
  border-radius: 0.375rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding:1.875rem 1.875rem 1.875rem 2.5rem;
  margin-bottom: 2rem;
}

// @media only screen and (max-width: 850px) {

//     .profilplayer{
        
//         padding-top: 13.5rem;
//         padding-left: 11.25rem;
//     }
// }
// @media only screen and (max-width: 575px) {

//     .profilplayer{
        
//         padding-top: 13.5rem;
//         padding-left: 3rem;
//     }
// }
// @media only screen and (max-width: 414px) {

//     .profilplayer{
        
//         padding-top: 13.5rem;
//         padding-left: 1.2rem;
//         &__infoplayer{
//             width: 36rem;
//             margin-bottom: 1rem;
//         }
//     }
//     .timeline{
//         width: 36rem;
//         margin-bottom: 17rem;
//     }
// }

// @media only screen and (max-width: 360px) {

//     .profilplayer{
       
//         &__infoplayer{
//             width: 32rem;
//             margin-bottom: 1rem;

//             &__img_name{
//                 &__name_mail{
//                     &__name{
//                         font-size: 1.2rem;
//                     }
//                 }
//             }
            
//         }
//     }
//     .playerexperiance{
//         &__title{
//             &__clubtitle{
//                 font-size: 1.2rem;
//             }
//             &__date{
//                 padding-top: 0.35rem;
//                 padding-left: 0.875rem;
//                 font-size: 0.8125rem;
//             }
//         }
//         &__description{
//             font-size: 0.7rem;
//         }
//     }
//     .timeline{
//         width: 32rem;
//     }
// }
// @media only screen and (max-width: 320px) {

//     .profilplayer{
        
//         padding-top: 16rem;
//         padding-left: 1.2rem;
//         &__infoplayer{
//             width: 28rem;
//             margin-bottom: 1rem;
//         }
//     }
//     .timeline{
//         width: 28rem;
//         margin-bottom: 3rem;
//     }
// }