.terms-and-conditions {
    h1 {
        text-align: center;
        margin-top: 50px;
        color: #26beb5;
    }
    p {
        font-size: 11.5pt;
        color: #000;
    }
    h2 {
        color: #26beb5;
        font-weight: bold;
    }
}