.coach-calendar {
    width: 732px;

    padding-bottom: 20px;
    &__modal {
        &__confirm-btn, &__confirm-btn:hover, &__confirm-btn:focus {
            background-color: #26beb5;
            color: white;
        }
    }

    &__request-succeeded {
        border-radius: 10px;
        box-shadow: 3px 3px 20px 0 rgba(190, 190, 190, 0.16);
        border: solid 1px #d5d5d5;
        background-color: #ffffff;
        height: max-content;
        padding: 58px 0 58px;
        text-align: center;
        margin-top: 20px;

        &__icon {
            font-size: 30px;
            color: #26beb5;
        }

        &__title {
            font-size: 18px;
            font-weight: bold;
            color: #26beb5;
            margin-bottom: 17px;
        }

        &__description {
            font-size: 18px;
            font-weight: bold;
            color: #232323;
        }

        &__sub-description {
            font-size: 16px;
            font-weight: 500;
            color: #232323;

            .link-platform {
                padding: 0.563rem 2.25rem 0.688rem 2.25rem !important;
                margin-top: 20px;
                display: inline-block;
                color: #ffffff
            }
        }
    }

    &__body {
        padding-top: 30px;
        max-width: 100%;
        margin: auto;
        &__profile-information {
            &__card {
                margin-bottom: 32px;
            }
        }

        &__calendar-section {
            position: relative;
            top: -14px;
            margin-top: 20px;

            &__header {
                &__title {
                    font-size: 18px;
                    font-weight: bold;
                    color: #232323;
                    margin-bottom: 3px;
                }

                &__sub-title {
                    font-size: 14px;
                    font-weight: 500;
                    color: #232323;
                    margin-bottom: 10px;
                }
            }

            &__footer {
                width: max-content;
                margin-top: 43px;
                border-radius: 10px;
                box-shadow: 3px 3px 20px 0 rgba(190, 190, 190, 0.16);
                border: solid 1px #d5d5d5;
                background-color: #ffffff;
                padding: 18px 39px 25px;

                &__confirm-button {
                    padding: 8px 35px;
                    font-size: 17px;
                    font-weight: 500;
                    color: #ffffff;
                    width: max-content;
                    border-radius: 10px;
                    box-shadow: 0 3px 6px 0 rgba(207, 207, 207, 0.16);
                    background-color: #26beb5;
                    margin-top: 7px;
                    height: unset;

                    &:hover {
                        background-color: #26beb5;
                        color: #ffffff;
                    }
                }

                &__title {
                    font-size: 18px;
                    font-weight: bold;
                    color: #232323;
                    margin-bottom: 28px;
                }

                &__item {
                    // display: flex;
                    display: grid;
                    grid-template-columns: 31px auto auto auto 20px;
                    // justify-content: flex-start;
                    font-size: 16px;
                    font-weight: 500;
                    color: #232323;
                    align-items: center;
                    margin-bottom: 20px;

                    &__delete-icon {
                        font-size: 20px;
                        color: #ff5854 !important;
                        cursor: pointer !important;

                    }

                    &__icon {
                        width: 16px;
                        height: 16px;
                        background-color: #ff8760;
                        margin-right: 15px;
                        opacity: 0.7;
                    }

                    &__day,
                    &__date,
                    &__time {
                        width: 140px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .coach-calendar {
        width: 100%;
        &__body {
            display: grid;
            // padding: 15px 21px 21px 21px;

            row-gap: 6px;
            grid-template-columns: unset;

            &__profile-information {
                &__card {
                    margin-bottom: 6px;
                }
            }

            &__calendar-section {
                top: 0;

                &__footer {
                    width: 100%;
                    padding: 20px;

                    &__item {
                        font-size: 14px;
                        flex-wrap: wrap;

                        &__day,
                        &__date,
                        &__time {
                            width: auto;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}