.interfaces_example_container {
    background-color: #ffe0c8;
    margin-top: 82px;


    .feature_button {
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 45px;
        
    }
    .interfaces_example {
        max-width: 1380px;
        margin: auto;


        padding-right: 4.5%;
        padding-left: 4.5%;

        padding-top: 49px;
        padding-bottom: 78px;
        .h2 {
            font-size: 36px;
            margin: auto;
            text-align: center;
            max-width: 630px;
            margin-bottom: 0;
            color: #393c40;

        }
        .p {
            color: #393c40;
            font-size: 21px;
            text-align: center;
            margin-top: 16px;
            font-weight: 400;
        }
        .img {
            margin-top: 41px;
            img {
                width: 100%;
            }
        }

    }
}

@media only screen and (max-width : 992px) {
    .interfaces_example {
        padding-bottom: 39px !important;
        padding-top: 39px !important;

        .h2 {
            font-size: 24px !important;
            color: #393c40;
            font-weight: bold;
        }
        .p {
            font-weight: 300;
            color: #393c40;
            font-size: 18px !important;
    
        }
        .feature_button {
            margin-top: 24px !important;
            button {
                font-size: 14px !important;
                padding: 19px 16px !important;
            }
        }
    }
}