.gerer_iluustateur {
    // max-width: 1380px;
    margin: auto;
    padding-left: 2.375rem;
    padding-top: 7rem;
    padding-right: 2.375rem;
    padding-bottom: 3.75rem;
    background-color: #ffffff;
    .gerer_iluustateur_container {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1.125rem;
        align-items: center;
        img {
            // height: 27.6rem;
            width: 100%;
        }
    }
}
.gerer_equipe_img {
    max-width: 1380px;
    margin: auto;
    .gerer_equipe_title {
        font-size: 2.625rem;
        font-weight: bold;
        line-height: 1.18;
        text-align: left;
        color: #2e3034;
        max-width: 35rem;
    }
    .gerer_time_title {
        max-width: 30rem;
        margin-top: 0.8125rem;
        font-size: 1.125rem;
        letter-spacing: normal;
        text-align: left;
        color: #2e3034;
    }
}
.gerer_team {
    max-width: 1380px;
    margin: auto;
    margin-top: 1.90625rem;
    padding: 0.9375rem 2rem 0.9375rem 2rem;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: #79bb43;
    color: white;  
}

@media only screen and (max-width: 414px) {

.gerer_iluustateur_container{
    display: flex;
    flex-direction: column-reverse;
}
.gerer_equipe_img {
    max-width: 1380px;
    margin: auto;
    padding-top: 2rem;
}
.gerer_iluustateur_container {
    display: flex !important;
}
}