.card_profil_coach {
    border-radius: 0.625rem;
    background-color: #f9f9f9;

    &__information {
        // padding: 1.063rem 1.5rem 0.313rem 3.563rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 16.5rem;

        &__avatar {
            padding-top: 1.063rem;

            img {
                width: 8.938rem;
                height: 8.938rem;
                border-radius: 4.125rem;
            }
        }

        &__name {
            padding-top: 0.375rem;
            font-size: 1.125rem;
            font-weight: 500;
            color: #26beb5;
        }

        &__rate {
            // padding-left: 1.688rem;
        }

        &__worktype {
            padding-top: 0.644rem;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            width: 12rem;
            color: #000000;
            word-wrap: break-word;
            // margin-left: -1.313rem;
            height: 4rem;
        }

        &__sporttype {
            padding-top: 0.063rem;
            font-size: 1rem;
            font-weight: bold;
            // padding-left: 1.688rem;
            line-height: 1.19;
            text-align: left;
            color: #000000;
            // padding-top:1.5rem;
        }

        &__yearexperience {
            padding-top: 0.438rem;
            // padding-left: 0.5rem;
            font-size: 1rem;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            padding-bottom: 0.406rem;
        }

    }

    &__button {
        display: flex;
        justify-content: space-around;
        padding-top: 0.656rem;
        padding-bottom: 0.656rem;

        &__contact {
            font-size: 1.125rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;

            color: #26beb5;
            background-color: transparent;
        }

        &__seeDetails {
            font-size: 1rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            color: #707070;
            background-color: transparent;

        }
    }

    &__suggestcoachdetails {
        text-align: -webkit-center;
        &__suggestPrivateCourse {
            display: flex;
            justify-content: center;
            img {
                width: 16px;
                height: 16px;
                margin: 2px 6px 1px 0;
                padding: 4px;
            }

            &__propose {
                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.19;
                letter-spacing: 0.32px;
                text-align: left;
                color: #4e4d4d;
            }
        }
    }
}

.rate {
    font-size: 0.75rem;
}

.line {
    padding-top: 0.219rem;
    border-top: solid 3px #f5f4f4;

}

.linevertical {
    border-left: 6px solid green;
    height: 31.25rem;
}

.buttoncontact {
    font-size: 0.875rem;
    color: #ffffff;
    border-radius: 8px;
    background-color: #26beb5;
    padding: 9px 36px 11px 36px !important;
    border: none;
    margin-top:8px;
}

@media only screen and (max-width : 760px) {
    .card_profil_coach {
        margin-bottom: 1.25rem;
    }

}