.presentationText {
    margin-top: 1.8125rem;
    font-size: 2.75rem;
    font-weight: bold;
    color: #2e3034;
}
.post_platform_container {
    margin: auto;
    max-width: 40rem;
    text-align: center;
    padding: 0 0.5rem;
}
.imgplatforme {
    margin-top: 2.25rem;
    
}
.presentationTextTow {
    margin-top: 1rem;

    font-size: 1.125rem;

    font-style: normal;
    line-height: 1.39;
    text-align: center;
    color: #2e3034;
}
.sign_up {
    margin-top: 2.8125rem;
    margin-bottom: 3.375rem;
    font-size: 0.875rem;
    line-height: 1.57;
    color: #ffffff;
    border-radius: 8px;
    padding: 0.75rem 1.125rem !important;
}
