
.presentationText {
    margin-top:29.6px;
    font-size: 44px;
    font-weight: bold;
  
    text-align: center;
    color: #2e3034;
}
.imgplatforme{
   margin-top: 36px;

}
.presentationTextTow {
    margin-top: 16px;
    
    font-size: 18px;
  
    font-style: normal;
    // @review dont write unnecessary css
    line-height: 1.39;
    text-align: center;
    color: #2e3034;
    margin-left: 419.5px;
    margin-right: 384.5px;
}
.sign_up{
    margin-top:45.1px;
    margin-bottom: 54px;
    font-size: 14px;
    line-height: 1.57;
    color: #ffffff;
    border-radius: 8px;
    padding:12px  18px 12px 18px !important;
}