.navbar_container{
    display: flex;
    justify-content: space-evenly;
    .logo{
        margin-top:93.8px;
    }
    
    .items_container{
        margin-top:99px;
        display: flex;
        justify-content: space-around;
    }
    .button_container{
        margin-top:87px;
    }
    .item{    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;  
    color: #2e3034;
    margin-left:40px;
    margin-right: 40px;
    }
    .sign_in{
        font-size: 14px;
        line-height: 1.36;
        color: #ff8760;
        border-radius: 8px;
        background-color: #fff3e6;
        margin-right:15px;
        padding:14px  16px 13.5px 16px !important;
    }
   .sign_up{
        font-size: 14px;
        line-height: 1.57;
        color: #ffffff;
        border-radius: 8px;
        background-color: #26beb5;
        padding:12px  18px 12px 18px !important;
   }
}

.fleshdown svg{
    margin-left: 8px;
    width: 12.5px!important;
    height: 12.5px!important;
    padding-bottom: 1px!important;
    padding-top: 3px!important;
}