.introductionV1 {
    // max-width: 1380px;
    margin: auto;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 3.75rem;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.125rem;
    align-items: center;
    .image {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            max-width: 35rem;
        }
    }
    &__description_container {
        max-width: 1380px;
        margin: auto;
        &__title {
            font-size: 2.625rem;
            font-weight: bold;
            line-height: 1.18;
            text-align: left;
            color: #2e3034;
            max-width: 35rem;
        }
        &__description {
            max-width: 30rem;
            margin-top: 0.8125rem;
            font-size: 1.125rem;
            letter-spacing: normal;
            text-align: left;
            color: #2e3034;
        }

        &__button {
            margin-top: 1.90625rem;
            padding: 0.9375rem 2rem 0.9375rem 2rem;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 0.5rem;
            background-color: #79bb43;
            color: white;
        }
    }
}

@media only screen and (max-width: 600px) {
    .introductionV1 {
        display: flex;
        flex-direction: column;
        .image {
            margin-top: 4rem;
        }
        .gerer_equipe_img {
            margin: auto;
            padding-top: 2rem;
        }
    }
}
