.ant-modal-content {

    margin: 1.125rem 0.063rem 0 0;
    padding: 2.375rem 2.875rem 1.125rem 0.813rem;
    border-radius: 0.625rem;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.ant-modal-close {
    color: white;
    border-radius: 1.188rem;
    /* top: -7px; */
    /* padding-right: 4px; */
    position: absolute;
    right: -1.25rem;
    top: -0.938rem;
    margin-top: -0.625rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #26BEB4;

    border-radius: 4.75rem;
    width: 2.244rem;
    height: 2.244rem;
}

.ant-modal-close-icon {
    position: absolute;
    top: 10.063rem;
    right: 0.594rem;
}

.inscription {
    width: 38.75rem !important;
    height: 31.25rem;

    &__title {
        font-family: Roboto;
        font-size: 1.375rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;

        text-align: center;
        color: #000000;
    }

    &__input {
        display: grid;
        grid-template-columns: auto auto;
        /* margin-bottom: 0.625rem; */
        column-gap: 1.25rem;
        row-gap: 1.25rem;
        margin-top: 1.688rem;

        &__inscrit {
            &__message {
                width: 16.063rem;
                margin-top: 0.625rem;
                font-size: 0.75rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.17;
                letter-spacing: normal;
                text-align: left;
                color: #ff6767;
            }

            ::placeholder {
                font-size: 1rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.19;
                letter-spacing: normal;
                // text-align: center;
                color: #26beb5;
                padding-left: 0.5rem;

            }
        }

        input {
            padding: 0.875rem 1.25rem 0.688rem 0.5rem;
            border-radius: 0.625rem;
            border: solid 1px #26beb5;
            width: 15.75rem;
            height: 2.75rem;
            margin: 0 2.313rem 0 0;

        }
    }


    &__button_inscription {
        margin-top: 0.938rem;
        border-radius: 0.625rem;
        box-shadow: 0 3px 6px 0 rgba(207, 207, 207, 0.16);
        background-color: #26beb5;
        display: block;
        margin: 0 auto;
        margin-top: 0.813rem;
        padding: 0.563rem 2.438rem 0.5rem 2.438rem;


        span {
            font-size: 1.25rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }

    &__signup {
        display: flex;
        justify-content: center;
        margin-top: 0.938rem;

        &__already_registered {
            font-family: Roboto;
            font-size: 1rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
        }

        &__contact {
            font-size: 1rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #26beb5;
        }
    }
}

@media only screen and (max-width: 768px) {

    .inscription__input {
        display: grid;
        justify-items: center;
        grid-template-columns: auto;
        /* margin-bottom: 0.625rem; */
        column-gap: 1.25rem;
        row-gap: 1.25rem;
        margin-top: 1.688rem;
    }
}

@media only screen and (max-width: 425px) {

    .inscription {
        width: 36.75rem !important;
        height: 31.25rem;
    }
}

@media only screen and (max-width: 375px) {
    .inscription {
        width: 31.75rem !important;
    }
}

@media only screen and (max-width: 320px) {

    .inscription {
        width: 27rem !important;
    }

    .inscription__signup__already_registered {
        font-size: 0.8rem;
    }

    .inscription__signup__contact {
        font-size: 0.8rem;
    }
}