.layoutblock{
    max-width: 1380px;
    margin: auto;
    &__presentation_club{

        &__realisation{
           padding-top:3.75rem;

            &__realisationdetais{
                padding-top:1.8125rem;
                
                &__img{
                    &__imgstyle{
                        padding-top:0.4375rem;
                    }
                }
            }
            &__realisationtext{
                font-size: 1.25rem;
                font-weight: bold;
                color: #2e3034;
                display: flex;
                justify-content: space-between;
                &__img{
                    padding-top: 1.125rem;
                    padding-left: 7rem;
                    
                    &__name{
                        // padding-left: 1rem;
                        font-size: 1rem;

                        font-weight: bold;
                        line-height: 2.63;

                        letter-spacing: normal;


                        color: #2e3034;
                    }
                }

            }
            &__realisationtext_partenaire{
                font-weight: bold;
                font-size: 1.25rem;

                color: #2e3034;
            }
            &__realisationnumber{
                padding-left:6.3125rem;
                font-size: 5.4375rem;
                font-weight: bold;
                line-height: 0.48;
                letter-spacing: normal;
                text-align: left;
                color: #79bb43;
            }
            // &__realisationtext{
            //     padding-left:6.3125rem;
            //     font-size: 1rem;
            //     font-weight: bold;
            //     line-height: 2.63;
            //     letter-spacing: normal;
            //     text-align: left;
            //     color: #2e3034;
            // }
        }
      
    }
}