.regagnez_temps {
    margin-top: 137px;


    font-size: 46px;
    font-weight: bold;
  
    text-align: center;
    color: #2e3034;
}
.plannings {
    margin-top: 20px;
    
    font-size: 18px;
  
    font-style: normal;
    // @review dont write unnecessary css
    line-height: 1.67;
    text-align: center;
    color: #2e3034;
    margin-left: 419.5px;
    margin-right: 384.5px;
}