.login-modal {
    &__input-label {

        input,
        select {
            margin-top: 10px;
        }

        select {
            padding: 11px;
        }
    }

    &__radio-group-button {
        background-color: #26beb5 !important;
    }

    &__user-type {
        margin-bottom: 20px;

    }

    &__modal {
        .ant-modal-body {
            padding: 46px 40px 18px 40px;
        }

        &__signup {
            .ant-modal-content {
                width: 652px;

                @media only screen and (max-width: 992px) {
                    width: 100%;
                }
            }
        }

        &__singin {
            .ant-modal-content {
                width: 464px;
            }
        }
    }

    &__title {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: #000000;
        margin-bottom: 22px;
    }

    &__body {
        &__forgot-password {
            margin: 15px 0;

            a {
                color: #000000;
            }
        }

        &__signup-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media only screen and (max-width: 992px) {
                grid-template-columns: unset;
            }

            column-gap: 37px;
            row-gap: 17px;
            margin-bottom: 13px;
        }

        &__forgot-password {
            font-size: 14px;
            font-weight: 500;
            color: #707070;
            margin-bottom: 11px;
            margin-top: 9px;
        }

        &__signin-inputs {
            width: 252px;
            margin: auto;
            display: grid;
            row-gap: 17px;
        }

        &__submit {
            padding: 9px 39px !important;
            font-size: 15px !important;
            height: unset !important;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 15px;

        &__text {
            font-size: 16px;
            font-weight: 500;
            color: #707070;
        }

        &__create-account {
            font-size: 16px !important;
            font-weight: 500 !important;
            color: #26beb5 !important;
            margin-left: 10px !important;
        }
    }
}