.gagnant_plus_text {
    margin-top: 23px;
    // @review dont use font-family because it's already declared in global style
    font-family: Inter;
    font-size: 38px;
    font-weight: bold;
    // @review dont write unnecessary css
    font-stretch: normal;
    // @review dont write unnecessary css
    font-style: normal;
    // @review dont write unnecessary css
    line-height: 1.26;
    // @review dont write unnecessary css
    letter-spacing: normal;
    text-align: left;
    color: #2e3034;
}
.gagnant_plateforme {
    margin-top: 15px;
    // @review dont use font-family because it's already declared in global style
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    // @review dont write unnecessary css
    font-stretch: normal;
    // @review dont write unnecessary css
    font-style: normal;
    // @review dont write unnecessary css
    line-height: 1.75;
    // @review dont write unnecessary css
    letter-spacing: normal;
    // @review dont write unnecessary css
    text-align: left;
    color: #2e3034;
}
.gerer_button {
    margin-top: 25px;
}
.Image_gagnant {
    margin-left: 227.1px;
}
.gerer_equipe {
    height: 60px;
    border-radius: 8px;
    background-color: #26beb5;
    margin-top: 30.8px;
    font-size: 14px;
    padding: 20px 19px 20px 19x;
    color: #ffffff;

}