.sharelink{
    margin-top: 36px;
    padding: 34px 27px 16px 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 20px 0 rgba(190, 190, 190 , 0.16);
    border: solid 1px #d5d5d5;
    background-color: #ffffff;
    &__text{
        font-size: 1.125rem;
        font-weight: 500;
        font-stretch: normal;
      
        color: #000000;
        padding-bottom: 16px;
    }
    // &__input{
        input[type=text] {
          
            border-radius: 10px;
            border: solid 1px #26beb5;
       
          }
          
        
    
}
.sharelinkicon{ 
    ant-input-group-addon{         
    border-right: solid 1px #26beb5;
    border-top: solid 1px #26beb5;
    border-bottom: solid 1px #26beb5;
    }
  }
  #myInput{
    margin-bottom: -1px;
  }