.biographieblock {
    &__biographie {
        // margin-top: 39.5px;
        width: 836px;
        height: 139.5px;

        border-radius: 10px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 5px 10px 9px 0 rgba(190, 190, 190, 0.16);
        border: solid 1px #d5d5d5;
        background-color: #ffffff;
        margin-top: 38.5px;

        // margin-top: -56px;

        &__linevertical {
            position: absolute;
            top: -39px;
            left: 30px;
            width: 0;
            height: 22px;
            margin: 0 0 11.5px;
            /* margin-top: -20px; */
            border: solid 2px #20bdb4;
        }

        &__icon {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #20bdb4;
            border-radius: 50%;
            width: 33px;
            height: 33px;
            position: absolute;
            left: 15px;
            top: -18px;
        }

        &__title {
            padding-top: 15px;
            padding-left: 64px;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: 0.36px;
            text-align: left;
            color: #26beb5;
        }

        &__contenu {
            padding: 16.5px 34px 0px 64px;
            // width: 807px;
            // height: 38px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: 0.32px;
            text-align: left;
            color: #4e4d4d;

            &__collapse {
                &__titledate {
                    display: flex;
                    justify-content: space-between;

                    &__title {
                        font-size: 16px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.19;
                        letter-spacing: 0.32px;
                        text-align: left;
                        color: #4e4d4d;
                    }

                }

                &__contenuShow {

                    padding-top: 16px;
                    padding-right: 300px;
                    padding-bottom: 20.5px;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.19;
                    letter-spacing: 0.32px;
                    text-align: left;
                    color: #4e4d4d;


                }

                &__dateicon {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 31.7px;

                    &__date {
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.21;
                        letter-spacing: 0.28px;
                        text-align: left;
                        color: #818181;
                        padding-top: 6px;
                    }
                }

            }
        }
    }

    &__Expériences {
        width: 836px;
        max-height: 362.5px;

        border-radius: 10px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 5px 10px 9px 0 rgba(190, 190, 190, 0.16);
        border: solid 1px #d5d5d5;
        background-color: #ffffff;
        margin-top: 38.5px;
    }
}
.collapseblock {
    padding-bottom: 34px
}