.partenaire_price_partenaire {
    max-width: 1380px;
    margin: auto;
    &__price {
        &__blocktwo {
            margin-left: 1.875rem;
            border-radius: 2rem;
            box-shadow: 0 0 1.5625rem 0 rgba(165, 165, 165, 0.1);
            background-color: #79bb43;
            &__buttoninscriretwo {
                margin-top: 1.9625rem;
                padding: 0.9375rem 7.125rem 0.9375rem 7.0625rem;
                border-radius: 1.5625rem;
                background-color: #ffffff;
                span {
                    //    padding:0.9375rem 7.125rem 0.9375rem 7.0625rem ;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.69;
                    letter-spacing: normal;
                    text-align: center;
                    color: #89c35a;
                }
            }

            &__buttoninscrire {
                margin-top: 1.9625rem;
                margin-left: 4rem;
                margin-right: 4rem;
                margin-bottom: 2.5rem;
                padding: 0.9375rem 3rem 0.9375rem 2.9375rem;
                border-radius: 1.5625rem;
                background-color: #ffffff;
                border-radius: 1.5625rem;
                border: solid 0.0625rem #79bb43;
                span {
                    //    padding:0.9375rem 7.125rem 0.9375rem 7.0625rem ;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.69;

                    color: #2e3034;
                }
            }
        }

        &__blockone {
            height: fit-content;
            background-color: #ffffff;
            border-radius: 2rem;
            // margin-top: 10.0625rem;
            margin-top: 2.5rem;

            box-shadow: 0 0 1.5625rem 0 rgba(165, 165, 165, 0.1);
            &__buttoninscriretwo {
                margin-top: 1.9625rem;
                //  padding:0.9375rem 7.125rem 0.9375rem 7.0625rem ;
                border-radius: 1.5625rem;
                background-color: #ffffff;
                span {
                    padding: 0.9375rem 7.125rem 0.9375rem 7.0625rem;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.69;
                    letter-spacing: normal;
                    text-align: center;
                    color: #89c35a;
                }
            }
        }

        &__firstpack {
            &__title {
                //   padding-top:59.9px;
                font-size: 1.5rem;
                font-weight: bold;

                line-height: 1.13;
                text-align: center;
                color: #ffffff;
                background: #73ad21;
                padding: 3.43125rem 2.875rem 2.5rem 2.8125rem;
                border-top-right-radius: 0.9375rem;
                border-top-left-radius: 0.9375rem;
            }

            &__lieu {
                padding-top: 1.625rem;
                font-size: 1rem;
                line-height: 1.69;
                letter-spacing: normal;
                text-align: center;
                color: #2e3034;
            }
            &__horaire {
                padding-top: 1.8125rem;

                font-size: 1rem;

                line-height: 1.69;
                letter-spacing: normal;
                text-align: center;
                color: #2e3034;
            }
            &__price {
                padding-top: 2.975rem;
                font-size: 2.25rem;
                font-weight: 600;

                line-height: 1;
                letter-spacing: normal;
                text-align: center;
                color: #2e3034;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .partenaire_price_partenaire {
        &__price {
            &__blockone {
                margin-left: 30px;
                margin-right: 22px;
            }
        }
    }
}
