.coachavis {
    &__sumavis {
        margin-top: 24.5px;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        color: #707070;

        span {
            padding-right: 12px;
        }

        &__chiffre {
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            padding-left: 11.5px;
            color: #f1ac22;
            padding-top: 3px;
        }
    }

    &__card {
        display: grid;
        grid-template-columns: auto auto;
        gap: 28.2px;


        &__description {
            margin-top: 24px;
            margin-left: 0.2px;
            width: 377.8px;
            height: 321.5px;
            // padding: 17px 9px 32.5px 18.8px;
            border-radius: 10px;
            box-shadow: 5px 5px 9px 0 rgba(190, 190, 190, 0.16);
            border: solid 1px #d5d5d5;
            background-color: #ffffff;
            &__recommendationMember {
                display: flex;
                justify-content: space-between;
                padding:17px 20px 19px 19.8px;
                &__avatar {
                    width: 66px;
                    height: 66px;
                    margin: 0 25px 19px 1px;
                }
                &__nameStart {
                    &__name {
                        padding-top: 9px;
                        font-size: 18px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.22;
                        letter-spacing: 0.36px;
                        text-align: left;
                        color: #4e4d4d;
                    }
                }

                &__publishdate {
                    padding-top: 12px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.21;
                    letter-spacing: 0.28px;
                    text-align: left;
                    color: #818181;
                }
            }

            &__avis {
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.22;
                letter-spacing: 0.27px;
                text-align: left;
                color: #4e4d4d;
                padding: 0px 18.8px 22px 24px;
                height: 106px;
            }

            &__repondre {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                padding: 17px 264px 18px 14.7px;
                border: solid 1px #d5d5d5;
                background-color: #f3f3f3;
                margin-top: 28px;
                &__title{
                    margin-left: 5px;
                }
            }
            &__avismember {
                display: flex;
                justify-content: space-around;
                padding-left: 30px;
                padding-right: 9px;
                &__avatarrepondre {
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 10px;
                    }
                }

                &__memberinfo {
                    &__nameDate {
                        display: flex;
                        justify-content: space-between;

                        &__name {
                            font-size: 18px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.22;
                            letter-spacing: normal;
                            text-align: left;
                            color: #4e4d4d;
                        }

                        &__date {
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.21;
                            letter-spacing: 0.28px;
                            text-align: left;
                            color: #818181;
                        }
                    }

                    &__contenu {
                        padding-top: 13px;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.19;
                        letter-spacing: normal;
                        text-align: left;
                        color: #4e4d4d;
                    }

                }
            }
        }
    }
}

.comment-action {
    padding-left: 8px;
    cursor: 'auto';
}


.textarea{
    
    margin-top: 27px;

}