.layoutblock{
    max-width: 1380px;
    margin: auto;
    // padding-left:4.6rem;
    // padding-right:5.75rem;
    &__presentation_club{
            display: flex;
            justify-content: space-between;
        &__presentationtext{
            font-size: 1.25rem;
            line-height: 1.75;
            letter-spacing: normal;
            color: #2e3034;
            max-width: 34rem;
            padding-top:5.5625rem;

        }
        &__ligne{
            margin-top:3.96875rem;
            margin-left: 7.65625rem;
            border-right: solid;
            background-color: #f9f9f9;
            
        }
        &__realisation{
           padding-top:3.75rem;

            &__realisationdetais{
                padding-top:1.8125rem;
                display: grid;
                grid-template-columns: repeat(3,33%);
                // grid-row-gap: 2.125rem;
                &__img{
                    &__imgstyle{
                        padding-top:0.4375rem;
                    }
                }
            }
            &__realisationtext{
                font-size: 1.25rem;
                font-weight: bold;
                color: #2e3034;
                display: flex;
                justify-content: space-between;
                &__img{
                    // padding-left: 6.3125rem;
                    img{
                        width: 1rem;
                    }
                    &__name{
                        padding-left: 6.3125rem;

                        // padding-left: 0.3rem;
                    }
                }

            }
            // &__realisationtext_partenaire{
            //     font-weight: bold;
            //     font-size: 1.25rem;

            //     color: #2e3034;
            // }
            // &__realisationnumber{
            //     padding-left:6.3125rem;
            //     font-size: 5.4375rem;
            //     font-weight: bold;
            //     line-height: 0.48;
            //     letter-spacing: normal;
            //     text-align: left;
            //     color: #2e3034;
            // }
            &__realisationtext{
                padding-left:6.3125rem;
                font-size: 1.25rem;
                font-weight: bold;
                line-height: 2.63;
                letter-spacing: normal;
                text-align: left;
                color: #2e3034;
            }
        }
      
    }
}
@media only screen and (max-width: 800px) {
    .layoutblock{
       &__presentation_club {
        display: flex;
        justify-content: space-evenly;
        &__presentationtext{
            max-width: 22rem;
        }
        &__ligne{
            margin-left: 0rem;
        }
        &__realisation{
            &__realisationdetais{
                display: flex;
                flex-direction: column;
            }
       }
    }
}
}
