.clubs {
    font-size: 1.125rem;
    font-weight: normal;
    text-align: center;
    color: #2e3034;
    padding-top: 56px;
}
.img_club {
    cursor: pointer;
    padding-top: 2.6875rem;
    display: flex;
    // justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    .image {
        margin: 0 1.375rem 2.575rem;
        justify-self: center;
        align-self: center;
        border-radius: 50%;
        width: 8rem;
        object-fit: contain;
    }
}

@media only screen and (max-width: 450px) {
    .img_club {
        // display: grid;
        row-gap: 1rem;
        .image {
            justify-self: center;
            align-self: center;
        }
    }
}
