.weekly-booking-calendar {
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0 rgba(190, 190, 190, 0.16);
    border: solid 1px #d5d5d5;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 20px;
    overflow: hidden;
    padding: 18px 10px 44px;

    &__calendar {
        border: none;
        .react-calendar__tile--active {
            color: #000000a6;
        }
        &__day {
            background-color: #ff8760;
            color: white;
            &.react-calendar__tile--active {
                color: white;
            }
            &.react-calendar__tile:disabled {
                color: #000000a6;
            }
        }
        .react-calendar__tile--active {
            background-color: #26beb5 !important;
            color: white;
        }
        .react-calendar__tile:disabled {
            background-color: white;
        }
        .react-calendar__navigation__next2-button,
        .react-calendar__navigation__prev2-button {
            display: none;
        }
        .react-calendar__navigation__label {
            pointer-events: none;
        }
    }

    &__time-slots {
        &__date {
            margin: 12px 0 25px;
            font-weight: 500;
            font-size: 16px;
        }
        &__slot {
            margin-bottom: 5px;
            padding-right: 20px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .weekly-booking-calendar {
        display: grid;
        row-gap: 6px;
        grid-template-columns: unset;
        width: 100%;
        &__calendar {
            width: 100%;
        }
        &__body {
        }
    }
}
