.filter-coach-index-modal {
    width: 100% !important;
    height: calc(100% - 70px);
    top: 70px;
    padding-bottom: 0;
    margin: 0;
    max-width: 100%;

    &__availability-container {
        &__calendar {
            border: none;
            width: 100%;
            .react-calendar__tile--active {
                background-color: #26beb5 !important;
                color: white;
            }
        }
        &__hours {
            margin-top: 20px;
            &__select {
                margin-top: 10px;
            }
        }
        &__footer {
            padding: 16px 0 ;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: calc(100% - 48px );
            font-size: 16px;
            font-weight: bold;
            button:first-child {
                color: rgb(221, 221, 221) ;
            }
            button:nth-child(2) {
                padding: 14px 24px;
                border-radius: 8px;
                min-width: 180px;
            }
        }
    }
    .isporit-modal__close-icon-container {
        display: none;
    }
    .ant-modal-content {
        height: 100%;
        // overflow: scroll;
        border-radius: 24px 24px 0 0 !important;
        padding-bottom: 20px;
        .ant-modal-body {
            height: 100%;
            overflow: auto;
            padding-bottom: 0;

        }
    }
    &__header {
        display: flex;
        align-items: center;
        &__left-icon,
        &__close-icon {
            font-size: 16px;
            font-weight: bold;
        }
        input {
            width: 100%;
            font-size: 18px;
            border: none;
            box-shadow: none;
            margin-left: 10px;
            outline: none;
            background-color: white;
            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
    &__sports {
        margin-top: 10px;
        height: 91%;
        padding-left: 10px;

        overflow: auto;
        &__item {
            margin: 20px 0;
            border-left: 3px solid ;
            padding-left: 10px;
            font-size: 18px;
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;
        }
    }
}
