.navbar_container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 10px;
    padding-right: 10px;

    .items_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
        align-content: center;
    }

    .item {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.36;
        font-size: 0.875rem;
        color: #2e3034;
        cursor: pointer;

        a {
            color: #2e3034;
        }
    }
    .sign_in {
        font-size: 0.875rem;
        color: #ff8760;
        border-radius: 8px;
        background-color: #fff3e6;
        margin-right: 15px;
        padding: 14px 16px 13.5px 16px !important;
    }
}
.sign_up {
    font-size: 0.875rem;
    color: #ffffff;
    border-radius: 8px;
    background-color: #26beb5;
    padding: 12px 18px 12px 18px !important;
    border: none;
}
.fleshdown svg {
    margin-left: 8px;
    width: 12.5px !important;
    height: 12.5px !important;
    padding-bottom: 1px !important;
    padding-top: 3px !important;
}

.subnav_content {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    background-color: white;

    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #00000012;
    border: 1px solid #e9e9e9;
    border-radius: 7px;
    padding: 2rem;

    .feature_desktop_item {
        padding: 2rem;
        display: grid;
        grid-template-rows: 50px 25px auto;

        row-gap: 1rem;
        border: 1px solid transparent;
        border-radius: 7px;
        // text-align: justify;

        .title {
            color: #2e3034;
            font-size: 18px;
            font-weight: 500;
        }
        .subtitle {
            color: #2e3034;
            font-size: 14px;
            line-height: 1.65;
        }
    }
}
.feature_desktop_item_player:hover {
    border: 1px solid #ffcd67;
}
.feature_desktop_item_coach:hover {
    border: 1px solid #ff8760;
}
.feature_desktop_item_club:hover {
    border: 1px solid #26beb5;
}

a:link {
    text-decoration: none;
    padding-bottom: 10px;
    color: black;
}
.sup:hover .subnav_content {
    display: grid;
    position: absolute;
}

.footer_container {
    background: white;
    .footer_bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 15px;
        border-bottom: 1px solid #eeeeee;
        align-items: center;
        .social_media {
            display: flex;
            justify-content: space-around;
        }
        .button_container {
            justify-self: end;
        }
    }
    .copyright {
        margin-top: 2.5rem;
        font-size: 1rem;
        text-align: center;
        color: #a7a7a7;
        padding-bottom: 2.5rem;
    }
}

.mobile_burger_menu {
    display: none;
}

@media only screen and (max-width: 850px) {
    .navbar_container {
        display: none;
    }
    .mobile_burger_menu {
        display: block;
        z-index: 9999999999999999;
        position: fixed;
        background-color: white;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .menu_item {
        color: black;
        :hover {
            color: black;
        }
    }
    .feature_item {
        display: grid;
        grid-template-columns: 35px auto;
        column-gap: 10px;
        align-items: center;
        color: black;
        :hover {
            color: black;
        }
        img {
            justify-self: center;
        }
    }
}
