.coach_region {
  &__title {
    font-size: 1.125rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-left: solid 3px #47c8c0;
    display: flex;
    justify-content: space-between;
    margin-left: 1.469rem;
    padding-left: 0.781rem;
    margin-top: 1.344rem;
  }

  &__checkbox {
    display: grid;
    grid-row-gap: 0.688rem;
    margin: 1.625rem 2.25rem 2.938rem 2.25rem;

    span {
      font-size: 1rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      padding-left: 0.456rem;
    }
  }
}

.show_region {
  display: block;
}

.unshow_region {
  display: none;
}

.down {
  width: 34px;
}

.left {
  width: 0.313rem;
  margin-left: 0.625rem;
}

@media only screen and (max-width : 992px) {
  .coach_region {
    &__title {
      // font-size: 16px;

    }

    &__checkbox {
      span {
        // font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width : 760px) {
  .coach_region {
    &__title {
      // font-size: 13px;
    }

    &__checkbox {

      margin: 1.625rem 2.25rem 2.938rem 1.313rem;

      span {
        // font-size: 11px
      }
    }
  }


}