.profile_page_container {
    padding: 30px 7.2% 22px 7.2%;
    max-width: 1360px;
    margin: auto;
    hr {
        background: white;
        margin: auto;
        border: transparent;
        border-top: 1px solid #E5E5E5;
    }
    .profile_information {
        background: white;
        display: grid;
        grid-template-columns: auto 184px;
        padding: 17px 7% 35px 7%;
        align-items: center;

        .left_side {

            margin-bottom: 57px;

            .title {
                font-size: 24px;
                margin: 0;
                margin-top: 13px;
            }

            .email {
                color: #A7A7A7;
                font-size: 14px;
                margin: 0;
                margin-bottom: 19px;
            }

            .tags {
                padding: 7px 13px;
                font-size: 14px;
                border: 1px solid #D6D6D6;
                border-radius: 180px;
                display: inline-block;
                margin-right: 6px;
                margin-bottom: 19px;

            }

            .information {
                span {
                    font-size: 13px;
                    color: black;

                }

                .information_description {
                    color: #A7A7A7;
                }
            }

            .social_media {
                margin-top: 21px;
                display: inline-block ;
                padding: 8px 35px;
                background: #4261B4;
                border-radius: 180px;
                margin-right: 11px;
                img {
                    height: 12px;                
                }
            }
            .social_media2 {
                display: inline-block ;
                padding: 8px 35px;
                background: #F1F1F1;
                border-radius: 180px;
                margin-right: 11px;
                img {
                    height: 12px;                
                }
            }
        }

        .right_side {
            img {
                width: 184px;
                height: 184px;
                border-radius: 50%;
            }
        }
    }

    .experience_section {
        background: white;
        padding-left: 45px;
        padding-right: 45px;
        .content {
            padding-top: 50px;
            
        }
    }
}

@media only screen and (max-width : 700px) {
    .profile_information {
        grid-template-columns: unset !important;
        text-align: center;
        padding-top: 40px !important;
        padding-bottom: 0px !important;
        .right_side {
            grid-row: 1;
        }
        .left_side {
            margin-bottom: 0px !important;
        }
    }
    .experience_section {
        padding-left: 30px !important;
        padding-right: 30px !important;
        hr {
            display: none;
        }
    }

}