.filter_coach{

    &__filter_type{
        &__title{
            &__Professions{
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            border-left: solid 3px #47c8c0;
            display: flex;
             justify-content: space-between;
             margin-left: 23.5px;
             padding-left:12.5px;
             margin-top:21.5px;
             &__items{
                cursor: pointer;
                margin-top: 15px;
                margin-left: 46px;
                margin-bottom: 10px;
                font-size: 16px;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.19;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                &__iteam{
                    margin-bottom: 10px;
                    &__iteamshow{
                        color:#26beb5
                    }                    
                }
                &__iteamnotvisible{
                    display: none;
                }
             }
            }
        }
    }
}
.down{
    width: 34px;
}
.left{
    width: 5px;
    margin-left: 10px;
}
@media only screen and (max-width : 992px) {
    .filter_coach{
        &__filter_type{
         &__title{
            &__Professions{
                font-size: 16px;
            }
            &__Professions{
                &__items{
                    font-size: 13px;

                }
        }
      }
    }
    }
}
@media only screen and (max-width : 760px) {
    .filter_coach{
        &__filter_type{
            &__title__Professions{
                font-size: 13px;
                margin-left: 10.5px;
            }
        }
    }
}
