.demo_plus_text {
    margin-top: 23px;
    font-size: 38px;
    font-weight: bold;

    
    line-height: 1.26;
 
    text-align: left;
    color: #2e3034;
}
.demo_plateforme {
    margin-top: 15px;
   
    font-size: 16px;
    font-weight: normal;
   
    line-height: 1.75;

    color: #2e3034;
}
.gerer_button {
    margin-top: 25px;
}
.Image_gagnant {
    margin-left: 227.1px;
}
.gerer_equipe {
    height: 60px;
    border-radius: 8px;
    background-color: #26beb5;
    margin-top: 30.8px;
    font-size: 14px;
    padding: 20px 19px 20px 19x;
    color: #ffffff;

}