.demo_plus_text {
    margin-top: 1.4375rem;
    font-size: 2.375rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.26;
    color: #2e3034;
}
.demo_plateforme {
    margin-top: 0.9375rem;
    font-size: 1rem;
    line-height: 1.75;
    font-weight: normal;
    color: #2e3034;
    width: 25rem;
}
.gerer_button {
    margin-top: 1.5625rem;
}
.Image_gagnant {
    margin-left: 227.1px;
}
.gerer_equipe {
    // height: 60px;
    border-radius: 8px;
    background-color: #26beb5;
    margin-top: 30.8px;
    font-size: 0.875rem;
    padding: 20px 19px;
    color: #ffffff;
}

.montre {
    width: 7.625rem;
    height: 7.625rem;
}
.demo_block {
    img {
        display: inline !important;
    }
}
