.price {
    max-width: 1380px;
    margin: auto;
    margin-top: 6.23125rem;
    text-align: center;

    &__title {
        font-size: 2.25rem;
        font-weight: 500;

        // line-height: 0.53;
        letter-spacing: normal;
        color: #256092;
    }
    &__ligne {
        padding-top: 0.9375rem;
        color: #79bb43;
    }
    &__subtitle {
        font-size: 1.125rem;
        padding-top: 1.875rem;
        margin: auto;
        letter-spacing: normal;
        color: #2e3034;
        max-width: 40rem;
    }
}
.partenaire_price_partenaire {
    max-width: 1380px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    // padding-top:10.0625rem;
    flex-wrap: wrap;
    &__partenaire {
        &__title {
            max-width: 36rem;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.25;
            color: #2e3034;
        }
        &__subtitle {
            max-width: 29rem;
            font-size: 1.125rem;

            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: #828282;
            padding-top: 1.0625rem;
        }
    }
    &__presentation_club {
        &__realisation {
            padding-top: 2.85625rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .partenaire_price_partenaire {
        justify-content: unset;
        overflow: scroll;
        flex-wrap: nowrap;
    }
}
